*{
  margin: 0px;
  padding:0px;
}
a{
  text-decoration: none;
  cursor: pointer;
}

.delete-btn{
    background-color:#E53935;
    border-color:#E53935;
    color:#fff;
    padding:3px;
}

.add-btn{
  background-color:#01579B;
  border-color:#01579B;
  color:#fff;
  padding: 3px;
  
}

.add-btn a{
  text-decoration: none;
  color: #fff;
  
}
.show-student-wrapper{
  width: 90%;
  margin: auto;
  margin-bottom: 50px;
}

.image-c, .image-showCampus,.studentCards, .showStudent{
  display: flex;
}

.student-img-container-show{
  width: 300px;
}

.image-c{
 background-color: #000;
 margin-right: 40px;
}

.image-c img{
  display: block;
}

.center-txt{
  text-align: center;
}
.d-flex{
  display: flex;
  flex-wrap: wrap;
}

form div{
  margin-top: 10px;
}

.students-container{
  justify-content:center;
  width:90%;
  margin: 20px auto 20px auto;
}

.main-nav{
  display: flex;
  width: 100%;
  background-color: #000;
  color: #fff;
}

.main-nav ul{
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

.main-nav ul li{
  margin-right: 10px;
}

.main-nav a{
  text-decoration: underline;
  color: #fff;

}

.header-container, .edit-camp-options{
  display: flex;
  justify-content: space-between;
  margin-top:40px;
  align-items:center;
  width:90%;
  margin-left:auto;
  margin-right: auto;
}

.edit-camp-options{
  width: 50%;
  margin: auto;
}

.header-container button{
  height: 40px;
}

.form-container {
  width: 90%;
  margin: auto;
}

.form-container form{
  margin: 2.5rem auto;
}

.edit-campus-btn-container button{
  display: inline-block;
}
.bold{
  font-weight: 600;
}

.sub-heading{
  color: #00732e;
  font-weight: 900;
}
.edit-campus-btn-container{
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin: 1rem auto;
}

.input-container{
  display: flex;
  justify-content: center;
}
.input-container div{
  display: flex;
  flex-direction: column;
  margin-right: 15px;

}

.input-container label, .input-container input, .input-container textarea{
  margin-bottom: 10px;
}

.edit-camp-options select{
  width: 200px;
}



.studentCards{
  flex-wrap: wrap;
}
.address, .studentList, .changeCampus {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.studentList{
  margin-top: 50px;
}
.changeCampus{
align-items: flex-start;

}

.student-info-container{
  width: 100%;
}
.button2{
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  
  
}

.button2 button{
  display: block;
}

.campButton{
  height: 100%;
  display: flex;
  align-items: center;
  
}
.campButton button{
  /* text-align: end; */
  
}

.campus-info{
    height: 100%;
    margin-left: 20px;
}

.adding-from, .edit-form{
  width: 50%;
  margin: 50px auto 0px auto;
  border: 1px solid #000;
  box-shadow: 1px 1px 3px #000;
  padding: 20px;
  
}

.adding-from h2, .edit-form h2{
  margin-bottom: 20px;
  color: #00732e;

}



.adding-wrapper, .edit-wrapper{
  width: 50%;
  margin: auto;
}

.adding-wrapper input[type='text'] {
  width: 100%;
  padding: 5px;

}

.edit-wrapper input[type='text']{
  display: inline-block;
  width: 95%;
  margin: auto;
  padding: 5px;
}

textarea{
  
}

.btn{
  border-style: solid;
  margin-top: 10px;
  cursor: pointer;
  width: 50%;
  padding: 5px;
}

.campus-info-container-wrapper{
  margin-top: 50px;
  width: 90%;
  margin: auto;
}

.campus-info-container{
  margin-top: 50px;
}

.bt-container{
  width: 100%;
}
.show-student-btns{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  
}

.show-student{
  margin-top: 50px;
}

.show-c-bt{
  font-size: 1rem;
}

.campus-card-preview .img-container{
 margin-right: 40px;
}

.campus-card-preview{
  width: 50%;
}

.campus-card-p-title{
  margin-bottom: 20px;
  text-align: start;
}

.warning{
  color: #E53935;
  font-size: 1rem;
}

.edit-form label{
  display: inline-block;
  margin-top: 10px;
}

.edit-form .edit-campus-btn-container{
  justify-content: center;
}

.edit-form{
  width: 70%;
}