.image-c{
    margin-bottom: 10px;
    border: 1px solid #000;
}

.student-name .campus-name {
    margin:0;
    font-size:1.5rem;
    color:#00732e;
    text-decoration: underline;
    margin-bottom: 10px;
}

.student-campus  {
    color:#01579B;
    margin-bottom:10px;
}

.img-container{
   width: 300px;
   height: 300px;
   display: flex;
   justify-content: center;
   align-items: center;
}

.show{
    width: 500px;
   height: 500px;
}
.card-container{
    margin: 10px 10px 10px 0px;
    text-align: center;
    border: 1px solid #000;
    box-shadow: 1px 2px 5px #000;
    padding-bottom: 20px;
    
    
}

.card-container a, .campus-card a{
    text-decoration:none;
    color:#00732e;
}

.img-container img{
    width: 100%;
    max-height: 100%;
}


.student-img-container{
    /* background-image: url('./img/profilePicture.jpg'); */
    height: 200px;
    /* width: 200px; */
    background-color: #000;
    margin:0;
    text-align: center;
}

.student-img-container img{
    max-width: 100%;
    max-height: 100%;
}


.image-showCampus{
    width: 600px;
    height: 400px;
    /* background-image: url('./img/campus.png'); */
    background-size: cover;
    background-position: top;
}

.campus-info-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.campus-info-container div{
    margin-right: 40px;
}

.campus-card{
    display: flex;
    align-items:flex-start;
    border: 1px solid #000;
    box-shadow: 1px 2px 3px #000;
    margin: 20px 10px 0px;
    height: 200px;
}

.campus-card .img-container {
    background-color: #000;
    display: flex;
    align-items: center;
    height: 100%;

}

.campus-cards-container{
    justify-content: center;
    width: 90%;
    margin: 20px auto 20px auto;
}
.campus-card-preview{

}

.number-register{
    margin-top: 10px;
    color: #01579B;
}