.row-img{
    width: 100px;
    height: 100px;
    background-color: red;
}


.st-row-container{
  border: 1px solid #000;
  display: flex;
  width: 80%;
}

.st-row-info-container{
    padding: 15px;
    width: 100%;
}

.st-row-remove-container button{
    display: inline-block;
    
}

.st-row-remove-container{
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}