.image-c, .image-showCampus,.studentCards, .showStudent{
  display: flex;
}

.d-flex{
  display: flex;
  flex-wrap: wrap;
}

form div{
  margin-top: 10px;
}

.main-nav{
  display: flex;
  width: 100%;
  background-color: #000;
  color: #fff;
}

.main-nav ul{
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

.main-nav ul li{
  margin-right: 10px;
}

.main-nav a{
  text-decoration: underline;
  color: #fff;

}

.header-container, .edit-camp-options{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.edit-camp-options{
  width: 50%;
  margin: auto;
}

.header-container button{
  height: 50px;
}

.form-container {
  width: 90%;
  margin: auto;
}

.input-container{
  display: flex;
  justify-content: center;
}
.input-container div{
  display: flex;
  flex-direction: column;
  margin-right: 15px;

}

.input-container label, .input-container input, .input-container textarea{
  margin-bottom: 10px;
}

.edit-camp-options select{
  width: 200px;
}



.studentCards{
  flex-wrap: wrap;
}
.address, .studentList, .changeCampus {
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.changeCampus{
align-items: flex-start;

}

.student-info-container{
  width: 100%;
}
.button2{
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  
  
}

.button2 button{
  display: block;
}

.campButton button{
  /* text-align: end; */
  margin-right: 100px;
}
