.image-c, .image-showCampus,.studentCards, .showStudent{
  display: flex;
}

.studentCards{
  flex-wrap: wrap;
}
.address, .studentList, .changeCampus {
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.changeCampus{
align-items: flex-start;

}

.student-info-container{
  width: 100%;
}
.button2{
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  
  
}

.button2 button{
  display: block;
}

.campButton button{
  /* text-align: end; */
  margin-right: 100px;
}