p{
  font-size: 18px;
}
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'proxima-nova', Helvetica, sans-serif;
}

.heading{
  padding-top:14px;
  text-align: center;
}

.image-c, .image-showCampus,.studentCards, .showStudent{
  display: flex;
}

.campCardDescription, .showStudentDescription, .student-info-container,.showCampDescription {
  margin: 10px;
  margin-top: 0px;
}
.changeCampusBtn{
  margin-top: 200 px;
  

}


.campCardDiv{
  height: 250px;
  width: 250px;
  overflow: visible;
}
.studentCardImage{
  height: 200px;
  width: 250px;
  
}
.showStudentCampImage img{
  height: 160px;
  width: 250px;
}

.campCardDiv img, .studentCardDiv img{
 width: 100%;
 
}

.studentCards{
  flex-wrap: wrap;
}
.address, .studentList, .changeCampus {
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.changeCampus{
align-items: flex-start;

}

.student-info-container{
  width: 100%;
}
.button2{
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  
  
}

.button2 button{
  display: block;
}

.campButton button{
  /* text-align: end; */
  margin-right: 100px;
}



.logo {
  width: 40px;
  height: 40px;
  float: left;
  margin: 10px;
  margin-top: 15px;
  border-radius: 50%;

}


.navigation-bar {
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,102,13,1) 0%, rgba(0,182,217,1) 100%);
  height: 70px;
  width: 100%;
  overflow: hidden;
 
}
header{
   margin: 0px;
}

.navigation-bar ul {
  padding: 0px;
  margin: 0px;
  text-align: center;
  display: inline-block;
  vertical-align: top;
}

.navigation-bar li {
  list-style-type: none;
  /* padding-right: 20px; */
  display: inline;
}

.navigation-bar li a {
  color:rgb(255, 255, 255);
  font-size: 22px;
  /* font-weight: bold; */
  text-decoration: none;
  line-height: 70px;
  padding: 5px 15px;
  transition-duration: 0.2s;
}

.navigation-bar li a:hover,
.navigation-bar li a:active {
  background-color: rgba(0, 0, 0, 0.157);
  font-size: 30px;
}


footer{
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,102,13,1) 0%, rgba(0,182,217,1) 100%);
}


.styleF  {
  /* position: absolute; */
  bottom: 0;
  /* width: 100%; */
  height: 30px;
  text-align: center;
  margin:  0px;
  font-size: 20px;
}

.styleF  ul {
  list-style-type: none;
  display: inline-block;
  vertical-align: bottom;

}

.styleF li {
  display: inline;
  padding: 0 20px 0 0;
}

.styleF li a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}
footer p{
  text-align: center;
  margin-block-start: 0em;
  margin-block-end: 0em;
}

/* .homePic{
  height: 100vh;
  background-image: url('https://www.gonzaga.edu/-/media/Website/Images/Full-Width-Image-and-Video/About/Other/fw-flyover-video-screenshot.ashx?h=600&w=1440&la=en&hash=2BB5F333CB2B74543077126EAB3907907D5F290F');
  background-size: cover;
  background-position: center;
} */
.homePic img{
  width:100%;
  height:auto;
  max-height:100%; 
  object-fit: contain;
 border-radius: 0%;
} 
/* .paras{
  color: white;

} */
h1, h2 {
  display: block;
  font-size: 2em;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight:normal;
}
img {
  border-radius: 5%;
}
/* .homePic img{

 
} */
.homePic{
  position: relative;
  text-align: center;
  color: #ffffffe3;
  font-size: 1.5em;
  padding: 0px;
}
.top-left {
  text-align: left;
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 15px;
  padding-left:10px;
  padding-right: 0px;
  background-color: rgba(0, 0, 0, 0.425);
  width: 99.2%;

}
