.image-c, .image-showCampus,.studentCards{
  display: flex;
}

.studentCards{
  flex-wrap: wrap;
}
.address, .studentList {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.campButton button{
  /* text-align: end; */
  margin-right: 100px;
}